@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-callToActionPattern {
    background-image: url('wave.webp');
    background-position: 20% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@layer base {
  html {
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply font-body bg-background antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-heading text-dark antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
