@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-callToActionPattern {
    background-image: url('wave.webp');
    background-position: 20% 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

html {
  scroll-behavior: smooth !important;
}

body {
  @apply font-body bg-background;
}

h1,
h2,
h3 {
  @apply font-heading text-dark;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
